body{
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.logo{
  width: 15%;
}
.cert{
  width: 40%;
  margin-bottom: -20%;
  margin-right: -70%;
  z-index: 1;
  
}
.car{
  background-color: #ffb301;
  color: white;
}
.navli{
  color: #ffb301;
  text-decoration: none;
  font: 1.5em bold;
  margin: 0.60em;
}
.carousel{
  height: 70vh;
  width: 100%;
}

.navbar-collapse{
  margin-left: 40%;
}
.cardImg{
  height: 15em;
}
.p{
  width: 80%;
margin: auto;
}
.prod{
 justify-content: center !important;
 align-items: center !important;
 margin: auto !important;
padding: 3em ;
 width: 100% !important;
  
}
footer{
  background-color: #007aff;
  color: #ffb301;
  border-top: 4px solid #ffb301 ;
  padding-top: 2em;
}
.lifoot{
  list-style: none;
  display: flex;
}
.iconcard{
  background-color: #ffb301;
  padding: 1em;
  border-radius: 50%;
  margin-top: -50%;
}
.carb{
  height: 18em;
  border-bottom: 4px solid #ffb301;
  margin-bottom: 3em !important;
}
.log{
  margin: 2em 0em;
  width: 50%;
}
i{
  font-size: 2em;
  margin: 10px;
  text-align: center;
}
.navl{
  color: #ffb301;
  text-decoration: none;
  font: 1.5em bold;
  margin: 1em;
  display: flex;
}
@media screen and (max-width: 500px){
  .car{
    width: 18rem !important;
    margin: auto;
    margin-bottom: 1em;
    
  }
}