body{
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.logo{
  width: 15%;
}
.navli{
  color: #ffb301;
  text-decoration: none;
  font: 1.5em bold;
  margin: 0.60em;
}
.carousel{
  height: 70vh;
  width: 100%;
}

.navbar-collapse{
  margin-left: 40%;
}
.cardImg{
  height: 15em;
}
.p{
  width: 80%;
margin: auto;
}
.prod{
 justify-content: center !important;
 align-items: center !important;
 margin: auto !important;
padding: 3em ;
 width: 100% !important;
  
}
footer{
  background-color: #007aff;
  color: #ffb301;
}
.lifoot{
  list-style: none;
  display: flex;
}
.iconcard{
  background-color: #ffb301;
  padding: 1em;
  border-radius: 50%;
  margin-top: -50%;
}
.carb{
  height: 15em;
  border-bottom: 4px solid #ffb301;
}
.log{
  margin: 2em 0em;
  width: 50%;
}
i{
  font-size: 2em;
  margin: 10px;
  text-align: center;
}
.navl{
  color: #ffb301;
  text-decoration: none;
  font: 1.5em bold;
  margin: 1em;
  display: flex;
}
/*footer{
  background-image: url(../src/images/logo.jpg);
  transform: rotate(45deg);
  background-size: 70%;
}*/